<!DOCTYPE html>
<html>
    <body>
        <p>Buenos Dias</p>
        <p>Los siguientes documentos estan vencidos o por vencer:</p>
        Empleado: <b>{{ record.origin.rec_name }}</b><br>
        Documento:<b> {{ record.type.name }}</b><br>
        Vence: <b>{{ record.expire_date.strftime('%d-%b-%Y') }}</b><br>
        Dias para venver:<b> {{ record.expire_days }}</b><br>
        <p>-------------------------<br>
        <b> {{ record.create_uid.name }}</b><br>
        {{ record.origin.company and record.origin.company.party.name }}<br>
        </p>
    </body>
</html>
