<!DOCTYPE html>
<head>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}
tr:hover {background-color: #f5f5f5}
th {
    background-color: #8ccc52;
    color: white;
    font-style: normal;
}
table, th, td {
    border: 1px dotted gray;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd
}
</style>
</head>
<html>
    <body>
        <p>Buenos Dias</p>
        <p>Las siguientes personas tienen documentos vencidos / por vencer:</p>
        <table>
          <TR>
            <TH class="c1">ID</TH>
            <TH class="c2">NOMBRE</TH>
            <TH class="c3">FECHA DE TERMINACION</TH>
            <TH class="c4">DIAS PARA TERMINAR</TH>
          </TR>
          {% for rec in record %}
          <TR>
            <TD class="c1">{{ rec.origin.party.id_number }}</TD>
            <TD class="c2">{{ rec.origin.party.name }}</TD>
            <TD class="c3">{{ rec.expire_date.strftime('%d-%b-%Y') }}</TD>
            <TD class="c4">{{ rec.expire_days }}</TD>
          </TR>
          {% endfor %}
        </table>
        <p>---------------------------------------------<br>
        <br>
        Tryton Notification Bot<br>
        </p>
    </body>
</html>
